{% extends 'base.html' %}
{% load static %}

{%block content %}


<div class="team-container">
    <!-- Miembro 1 -->
    <div class="team-member">
        <img src="{% static 'images/Augusto.jpg' %}" alt="Miembro" class="member-image">
        <div class="member-name">Juan Jose Lopez Correa</div>
        <div class="member-position">Cargo del Miembro 1</div>
        <div class="member-info">Información adicional del Miembro 1.</div>
    </div>

    <!-- Miembro 2 -->
    <div class="team-member">
        <img src="{% static 'images/Augusto.jpg' %}" alt="Miembro" class="member-image">
        <div class="member-name">Dario Ivan Gomez Alcorta</div>
        <div class="member-position">Cargo del Miembro 2</div>
        <div class="member-info">Información adicional del Miembro 2.</div>
    </div>

        <!-- Miembro 2 -->
    <div class="team-member">
        <img src="{% static 'images/Augusto.jpg' %}" alt="Miembro" class="member-image">
        <div class="member-name">Augusto Daniel Iacopini</div>
        <div class="member-position">Cargo del Miembro 2</div>
        <div class="member-info">Información adicional del Miembro 2.</div>
    </div>

    <!-- Agrega más miembros según sea necesario -->

</div>


{%endblock%}